<% title t(:profile_edit) %>
<div class="page-header">
  <h1><%= yield :title %></h1>
</div>
<%= form_for @user, url: profile_path, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= form_email_field(f, @user, :email, :enter_email, :it_wont_be_shared) %>
    <%= form_text_field(f, @user, :first_name, :enter_first_name, :full_name_explanation) %>
    <%= form_text_field(f, @user, :last_name, :enter_last_name, :full_name_explanation) %>
    <%= form_text_field(f, @user, :nickname, :enter_nickname, :nickname_explanation) %>
    <%= form_toggle_field(f, @user, :incl_in_thesis, :incl_me_in_ack_label, :yes_val, :no_val, :incl_in_thesis_explanation) %>
    <%= form_toggle_field(f, @user, :incl_in_rankings, :incl_me_in_rankings, :yes_val, :no_val, :incl_in_rankings_explanation) %>
    <%= form_toggle_field(f, @user, :use_full_name, :display_in_ranking, :full_name, :nickname) %>
    <%= form_submit(f, glyph_tag('save', t(:save))) %>
<% end %>