<% title t(:registration) %>
<div class="page-header">
  <h1><%= yield :title %></h1>
</div>
<h2><%= t :why_register_heading %></h2>
<p><%= t :why_register %></p>
<%= form_for @user, url: profile_path, html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%= form_email_field(f, @user, :email, :enter_email, :it_wont_be_shared) %>
  <%= form_password_field(f, @user, :password, :enter_password) %>
  <%= form_password_field(f, @user, :password_confirmation, :retype_password) %>
  <%= form_submit(f, t(:register)) %>
<% end %>