<div class="page-header">
  <h1>Your profile</h1>
</div>
<%= @user.email %>
<%= @user.first_name %> <%= @user.last_name %>
<%= @user.nickname %>
Include me in acknowledgments (full name if provided, nickname otherwise)<%= @user.incl_in_thesis %>
Include me in contributors ranking <%= @user.incl_in_rankings %>
Display my full name in rankings (if provided) <%= @user.use_full_name %>

You will be included in acknowledgements as: <%= @user.ack_entry %>
You are included in ranking as: <%= @user.ranking_entry %>

<%= link_to 'Edit', edit_profile_path %>
