<% title(t :new_user_form) %>
<div class="page-header">
  <h1><%= yield :title %></h1>
</div>
<%= form_for @user, url: users_path, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <%= form_email_field(f, @user, :email, :enter_email) %>
    <%= form_password_field(f, @user, :password, :enter_new_password, nil, :no_success_ind) %>
    <%= form_password_field(f, @user, :password_confirmation, :retype_new_password, nil, :no_success_ind) %>

    <div class="<%= form_group_class_for(@user, :role)%>">
      <%= f.label :role, class: 'control-label col-md-3' %>
      <div class="col-md-6">
        <%= f.select :role, User.roles, {}, { class: 'form-control'} %>
        <%= list_errors_for(@user, :role) %>
      </div>
    </div>

    <%= form_text_field(f, @user, :first_name, :enter_first_name) %>
    <%= form_text_field(f, @user, :last_name, :enter_last_name) %>
    <%= form_text_field(f, @user, :nickname, :enter_nickname) %>
    <%= form_toggle_field(f, @user, :incl_in_thesis, :incl_me_in_ack_label, :yes_val, :no_val) %>
    <%= form_toggle_field(f, @user, :incl_in_rankings, :incl_me_in_rankings, :yes_val, :no_val) %>
    <%= form_toggle_field(f, @user, :use_full_name, :display_in_ranking, :full_name, :nickname) %>
    <%= form_submit(f, glyph_tag('plus', t(:create))) %>
<% end %>