<% title t(:password_reset) %>
<div class="page-header">
  <h1><%= yield :title %></h1>
</div>
<%= form_for @pass_form, url: reset_user_password_path, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= form_password_field(f, @pass_form, :password, :enter_new_password, nil, :no_success_ind) %>
    <%= form_password_field(f, @pass_form, :password_confirmation, :retype_new_password, nil, :no_success_ind) %>
    <%= form_submit(f, t(:change)) %>
<% end %>