<% title t(:password_reset) %>
<div class="page-header">
  <h1><%= yield :title %></h1>
</div>
<%= form_for @pass_form, url: reset_user_password_path, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <div class="<%= form_group_class_for(@pass_form, :password, :no_success_ind)%>">
      <%= f.label :password, class: 'control-label col-md-3' %>
      <div class="col-md-6">
        <%= f.password_field :password, placeholder: t(:enter_new_password), class: 'form-control' %>
        <%= list_errors_for(@pass_form, :password, :no_success_ind) %>
      </div>
    </div>
    <div class="<%= form_group_class_for(@pass_form, :password_confirmation, :no_success_ind)%>">
      <%= f.label :password_confirmation, class: 'control-label col-md-3' %>
      <div class="col-md-6">
        <%= f.password_field :password_confirmation, placeholder: t(:retype_new_password), class: 'form-control' %>
        <%= list_errors_for(@pass_form, :password_confirmation, :no_success_ind) %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-6">
        <%= f.button t(:change), type: :submit, class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>