<%# @TODO formatting %>
<%# @TODO deletion confirmation %>

<% title "User profile for #{@user.email}" %>
<div class="page-header">
  <h1><%= yield :title %></h1>
</div>
<%= @user.email %>
<%= @user.first_name %> <%= @user.last_name %>
<%= @user.nickname %>
Include me in acknowledgments (full name if provided, nickname otherwise)<%= @user.incl_in_thesis %>
Include me in contributors ranking <%= @user.incl_in_rankings %>
Display my full name in rankings (if provided) <%= @user.use_full_name %>

User will be included in acknowledgements as: <%= @user.ack_entry %>
User is included in ranking as: <%= @user.ranking_entry %>

<%= link_to glyph_tag('edit', 'Edit'), edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to glyph_tag('trash', 'Delete'), edit_user_path(@user), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
