<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title).presence || 'SimilarityDS' %> &mdash; <%= t(:image_similarity_ds) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'SimilarityDS', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <%= menu_item t(:about), about_path %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t :administration %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%= menu_item t(:user_catalogue), users_path, glyph: 'list' %>
              </ul>
            </li>
            <% end %>
            <% if logged_in? %>
            <%= menu_item t(:my_profile), profile_path, glyph: 'user' %>
            <%= menu_item t(:log_out), logout_path, glyph: 'log-out', method: :delete %>
            <% else %>
            <%= menu_item t(:register_new_profile), new_profile_path, glyph: 'user' %>
            <%= menu_item t(:log_in), login_path, glyph: 'log-in' %>
            <% end %>
          </ul>
      </div>
    </div>
</nav>

<div class="container" role="main">
  <% unless flash.empty? %>
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <% flash.each do |key, value| %>
        <div class="alert <%= flash_class(key) %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash_glyph(key) %> <%= value %>
        </div>
      <% end %>
      </div>
  </div>
  <% end %>
  <div class="row">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
