<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title).presence || 'SimilarityDS' %> &mdash; Image Similarity Data Set</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'SimilarityDS', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <%= menu_item 'About', about_path %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%= menu_item 'User catalogue', users_path, glyph: 'list' %>
              </ul>
            </li>
            <% end %>
            <% if logged_in? %>
            <%= menu_item 'My profile', profile_path, glyph: 'user' %>
            <%= menu_item 'Log out', logout_path, glyph: 'log-out', method: :delete %>
            <% else %>
            <%= menu_item 'Register', new_profile_path, glyph: 'plus' %>
            <%= menu_item 'Log in', login_path, glyph: 'log-in' %>
            <% end %>
          </ul>
      </div>
    </div>
</nav>

<div class="container" role="main">
  <% flash.each do |key, value| %>
      <div class="alert <%= flash_class(key) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash_glyph(key) %> <%= value %>
      </div>
  <% end %>
  <%= yield %>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
